@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:20px;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}

h1, h2, h3, h4, h5, h6 {
  border: #000;
  margin:0 0 20px;
}

h1 {
  background-color: rgba(242, 192, 99, 0.8);
  padding: 30px 15px;
  color: #fff;
  display: inline-block;
  width: 225px;
}

p, ul.downloads, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#fff;
  background-color: rgba(108, 166, 217, 0.8);
}

.intro {
  font-weight: bold;
}

p.view a {
  font-weight: bold;
}

section h3 {
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

section h2 {
  padding: 5px;
  border-top: 8px solid #dfdfdf;
}

section h3:after {
  content:" ↴";
  font-size: 12px;
}


h3, h4, h5, h6 {
  color:#494949;
}

a {
  color: steelblue;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:11px;
  color: steelblue;
  margin-top:-0.6em;
  display:block;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 0 5px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

header {
  width:250px;
  float:left;
  position:fixed;
}

header ul.downloads {
  list-style:none;
  height:40px;
  padding:0;
  background: #A69D85;
  border:1px solid #d2d2d2;
  width:255px;
}

header .downloads li {
  width:49.5%;
  text-align: center;
  float:left;
  height:40px;
}

header .downloads li:hover {
  background: #999;
}

header ul.downloads a {
  line-height:1;
  font-size:11px;
  color:#fff;
  display:block;
  text-align:center;
  padding-top:6px;
  height:40px;
}

strong {
  color:#222;
  padding-top: 2px;
  font-weight:700;
}

header ul.downloads li + li {
  border-left:1px solid #fff;
}

header ul.downloads a strong {
  font-size:14px;
  display:block;
  color:#fff;
}

section {
  width:560px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
}

@media print, screen and (max-width: 960px) {

  #sidemenu {
    display: block;
    position: fixed;
    border-top: 7px solid #b8b8b8;
    border-bottom: 20px solid #b8b8b8;
    bottom: -15px;
    right: 0px;
    width: 100%;
    background-color: #eee;
  }
  
  div.wrapper {
    width:auto;
    margin:0;
  }
  
  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }
  
  header {
    padding-right:320px;
  }
  
  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }
  
  header a small {
    display:inline;
  }
  
  header ul.downloads {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }
  
  header {
    padding:0;
  }
  
  header ul.downloads, header p.view {
    position:static;
  }
  
  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}

.sections-toc {
  padding-left: 0;
  list-style: none;
}

.sections-toc a {
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  color: #000;
  width: 100%;
}

.sections-toc a:hover {
  background-color: #ccc;
}

.sections-toc a:before {
  content: '⇘ ';
}

.sections-toc li {
  border-bottom: 2px solid #b8b8b8;
}

.sections-toc li.selected a, .sections-toc li.selected a:hover {
  background-color: rgba(242, 192, 99, 0.8);
}