html, body, #container {
  margin: none;
  padding: none;
}

body {
  /*background: url('/images/rockywall.png');*/
  background-color: #fff;
  font-size: 12px;
  margin-bottom: 50px;
}

#container {
  width: 760px;
  margin: 0px auto;
}

header {
  display: none;
}

h1, header, p {
  padding: 0px;
  margin:  0px;
}

h2 {
  font-size: 12px;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAANklEQVQYV2NkIAIwEqHmPyFF/4GGMBJSBLYIlyKwCTCnYFOEogCfSSj+QTYJwwR063AqACkEAGnjBgmbf5VOAAAAAElFTkSuQmCC);
}

h1 div {
  padding: 4px;
  width: 70px;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.9);
}

ul { list-style-type: diamond;}

a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

#controls {
  float: right;
  width: 500px;
}

#controls #title {
  width: 438px;
}

#controls input, #controls select {
  margin: 5px;
  color: #222;
  padding: 1px 5px;
}

#controls #type {
  width: 89px;
}

#controls #url {
  width: 290px;
}

#controls #markov-corpus {
  width: 97%;
  height: 100px;
}

#controls #markov-help {
  font-size: 10px;
}

#controls input[type=button] {
  padding: 2px 20px;
}

#controls .short-num {
  width: 65px;
}

#controls-top {
  padding: 5px;
}

#controls table {
  margin: 0 0 0;
  width: 100%;
}

#controls label {
  font-weight: bold;
}

#controls td, #controls th {
  width:80px;
  margin: 0;
  text-align: center;
  padding: 0 10px 0 2px;
  border: none;
}

#start-stop-cont {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #888;
}

#start-stop-cont input[type="button"] {
  padding: 2px 20px;
  
}

#console-enabled {
  margin-right: 5px;
}

#console-cont {
  clear: both;
}

#console {
  border: 1px solid #666;
  width: 100%;
  resize: true;
  overflow: scroll;
  min-height: 50px;
  max-height: 300px;
  margin: 10px 0px;
}

#scalars, #response-code-stats {
  float: left;
  width: 235px;
  padding-right: 20px;
  padding-left: 0px;
  margin-bottom: 15px;
}

#output table {
  margin: 10px 0px;
  width: 100%;
}

td, th {
  text-align: center;
}

td {
  border: 1px dotted #666;
  border-left: 0px;
  border-top: 0px;
  padding: 5px;
}

.k {
  font-weight: bold;
  text-align: right;
  padding-right: 20px;
}

.v {
  width: 80px;
  padding-left: 20px;
  text-align: center;
  background-color: #f3f3f3;
  color: black;
  padding: 5px 10px;
  border: 1px solid #aaa;
  border-left: 0px;
  border-top: 0px;
}

#time-series {
  position: relative;
}

#time-series .chart {
  position: absolute;
  top: 0
}

.chart rect {
  fill: #FFB020;
  shape-rendering: crispEdges;
}

#time-series .chart rect {
  fill: #72A5FC;
  stroke: none;
}

#time-series .chart rect:hover {
  fill: #FC72C0;
}

#time-series .tip {
  z-index: 10000;
  background-color: #fff;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.charts {
  float: right;
  clear: right;
  padding-top: 10px;
}

.non-decile {
  display: none;
}

#firefox-warning {
  background-color: #f44;
  padding: 10px;
  width: 700px;
  margin: 10px auto;
  text-align: center;
}

#job-browser {
  position: relative;
  border: 1px solid silver;
  border-top: none;
  border-bottom: none;
  background-color: #f8f8f8;
  height: 325px;
  margin-top: -294px;
  transition: margin 0.5s;
  -moz-transition: margin 0.5s; /* Firefox 4 */
  -webkit-transition: margin 0.5s; /* Safari and Chrome */
  -o-transition: margin 0.5s;
}

#job-browser a {
  color: black;
  text-decoration: none;
}

table.jobs {
  width: 100%;
}

table.jobs tbody tr {
  cursor: pointer;
}

table.jobs tbody tr:hover {
  background-color: #eaeaea;
}

table.jobs tbody tr.cur-job-related {
  background-color: #CFE0FF;
}

table.jobs th {
  border-bottom: 1px solid black;
  padding: 5px;
}

#job-browser td.timestamp {
  font-size: 10px;
}

#job-browser td.url div {
  text-align: left;
  float:left;
  width: 110px;
  height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#job-browser td.title div {
  text-align: left;
  float:left;
  width: 240px;
  height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#job-browser.visible {
  margin-top: 0px;
}

.tab-grip {
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #fff;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAX/GZH4/4FsRpgAmAOSBBFwDkgAAIKuBATRTAAZAAAAAElFTkSuQmCC);
  height: 20px;
}

#past-jobs-title {
  width: 200px;
  height: 20px;
  line-height: 20px;
  padding: 1px 10px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  color: black;
}

#job-list-pagination {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 25px;
}

.prev-cont, .next-cont {
  display: inline-block;
  width: 43px;
}

#job-list-pagination .next, #job-list-pagination .prev {
  cursor: pointer;
}

.page-num {
  font-weight: bold;
  padding: 0 3px;
}