body {
  /*background: url('/images/rockywall.png');*/
  background-color: #fff;
  font-size: 12px;
  margin-bottom: 50px;
}

#container {
  width: 760px;
  margin: 0px auto;
}

h1, header, p {
  padding: 0px;
  margin:  0px;
}

h2 {
  font-size: 14px;
  font-weight: bold;
}

h1 {
  font-size: 18px;
  font-variant: small-caps;
}

ul { list-style-type: diamond;}

a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

header {
  margin: 20px 0px;
}

#controls input {
  margin: 10px;
}


#controls input[type=button] {
  padding: 0px 10px;
}

#controls .short-num {
  width: 70px;
}

#console-enabled {
  margin-right: 5px;
}

#console {
  border: 1px solid #666;
  width: 100%;
  resize: true;
  overflow: scroll;
  min-height: 50px;
  max-height: 300px;
  margin: 10px 0px;
}

table {
  margin: 10px 0px;
}

td, th {
  text-align: center;
}

td {
  border: 1px dotted #666;
  border-left: 0px;
  border-top: 0px;
  padding: 5px;
}

th {
  padding: 5px 10px;
  border: 1px solid #666;
  border-left: 0px;
  border-top: 0px;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.non-decile {
  display: none;
}

text {
}
