html, body, #container {
  margin: none;
  padding: none;
  font-family: Helvetica Neue, HelveticaNeue, Helevetica, Arial, sans-serif;
}

body {
  /*background: url('/images/rockywall.png');*/
  background-color: #fff;
  font-size: 12px;
  margin-bottom: 50px;
}

#container {
  width: 760px;
  margin: 0px auto;
}

header {
  display: none;
}

h1, header, p {
  padding: 0px;
  margin:  0px;
}

h1 .version {
  font-size: 12px;
  color: #666;
}

h2 {
  font-size: 13px;
  text-align: center;
  display: block;
  color: #666;
  font-weight: normal;
}



h1  {
  position: relative;
  text-align: left;
  font-size: 14px;
  margin-top: 10px;
  overflow: hidden;
  backround: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid #B8b8b8;
}

h1 div.engulf, #scalars h2 {
  
  text-align: left;
  display: inline-block;
  width: 100%;
  padding: 4px 5px 4px 5px;
  height: 100%;
  margin: 0 auto 0 0;
  background-color: #8E2822;
  background-color: #fff;
  color: #000;
  text-align: center;
}

#scalars h2 {
  text-align: left;
  background: rgba(108, 166, 217, 0.8);
  font-variant: normal;
  color: #fff;
  width: 117px;
  height: 15px;
  padding: 4px;
}

h1 div.status {
  position: absolute;
  right: 0;
  top: 0;
  height: 20px;
  width:70px;
  padding-top: 6px;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-style: italic;
}

h1 div.status a {
  color: black;
  text-decoration: none;
}

h1 div.status.active {

}

h1 div.status {
  background: rgba(152,49,43, 0.8);
  background: rgba(174, 204, 242, 0.8);
  color: #fff;
}

div.status.live {
display: none;
}

div.status.playback {
  display: none;
}

ul { list-style-type: diamond;}

a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

a:visited {
  color: black;
}

#benchmarker {
  float: right;
  width: 500px;
}

#controls, #info-bar {
  float: right;
  width: 500px;
  margin-top: 10px;
  background: #ccc;
  background: #fff;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
}

#info-bar {
  margin-top: 22px;
  height: 18px;
  font-weight: bold;
}

#info-bar > span {
  margin-right: 15px;
  display: block;
  float: left;
}

#info-bar .k {
  font-weight: normal;
  margin-right: 5px;
}

#info-bar .v {
  text-transform: capitalize;
}

#controls #title {
  width: 438px;
}

#controls input, #controls select {
  margin: 5px;
  color: #222;
  padding: 1px 5px;
}

#controls #type {
  width: 89px;
}

#controls #url {
  width: 290px;
}

#controls #markov-corpus {
  width: 97%;
  height: 100px;
}

#controls #markov-help {
  font-size: 10px;
}

#controls input[type=button] {
  padding: 2px 20px;
}

#controls .short-num {
  width: 65px;
}

#controls-top {
  padding: 5px;
}

#controls table {
  margin: 0 0 0;
  width: 100%;
}

#controls label {
  font-weight: bold;
}

#controls td, #controls th {
  width:80px;
  margin: 0;
  text-align: center;
  padding: 0 10px 0 2px;
  border: none;
}

#start-stop-cont {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #888;
}

#start-stop-cont input[type="button"] {
  padding: 2px 20px;
  
}

#console-enabled {
  margin-right: 5px;
}

#console-cont {
  clear: both;
}

#console {
  border: 1px solid #666;
  width: 100%;
  resize: true;
  overflow: scroll;
  min-height: 50px;
  max-height: 300px;
  margin: 10px 0px;
}

#scalars, #response-code-stats {
  float: left;
  width: 235px;
  padding-right: 20px;
  padding-left: 0px;
  margin-bottom: 15px;
}

#output table {
  margin: 0 0 10px;
  width: 100%;
  border-top: 2px solid #ccc;
}

td, th {
  text-align: center;
}

td, th {
  border: 1px solid #b8b8b8;
  border-left: 0px;
  border-top: 0px;
  padding: 5px;
}

#output .k, #output .v {
  border-right: 0px;
  border-color: #ddd;
}

#output .k {
  text-align: left;
  color: #444;
  width: 105px;
}

#output .v {
  width: 80px;
  padding-left: 20px;
  text-align: left;
  background-color: #eee;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}

#time-series {
  position: relative;
}

#time-series .chart {
  position: absolute;
  top: 0
}

.chart rect {
  fill: #6CA6D9;
  shape-rendering: crispEdges;
}

#time-series .chart rect {
  fill: #A69D85;
  stroke: none;
}

#time-series .chart rect:hover {
  fill: #8E2822;
}

#time-series .tip {
  z-index: 10000;
  background-color: #fff;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.charts {
  float: right;
  clear: right;
  padding-top: 10px;
}

.non-decile {
  display: none;
}

#firefox-warning {
  background-color: #f44;
  padding: 10px;
  width: 700px;
  margin: 10px auto;
  text-align: center;
}

#job-browser {
  position: relative;
  border: 1px solid silver;
  border-top: none;
  border-bottom: none;
  background-color: #fbfbfb;
  height: 325px;
  margin-top: -294px;
  transition: margin 0.5s;
  -moz-transition: margin 0.5s; /* Firefox 4 */
  -webkit-transition: margin 0.5s; /* Safari and Chrome */
  -o-transition: margin 0.5s;
}

#job-browser a {
  color: black;
  text-decoration: none;
}

#job-browser th {
  border-bottom: 1px solid black;
  background-color: #f5f5f5;
  border-color: #bbb;
  padding: 5px;
}

td.timestamp {
  background-color: #fefefe;
  color: #000;
}

td.stat {
  background-color: #fefefe;
  color: #000;
}

td.title {
  font-weight: bold;
}

table.jobs {
  background-color: #eee;
  width: 100%;
}


table.jobs tbody tr {
  cursor: pointer;
}

table.jobs tbody tr:hover td {
  background-color: #f0f0f0;
  background-color: rgba(190, 190, 190, 1);
}


table.jobs tbody tr.cur-job-related td {
  background-color: rgba(242, 192, 99, 0.7);
}

#job-browser td.timestamp {
  font-size: 10px;
}

#job-browser td.url div {
  text-align: left;
  float:left;
  width: 95px;
  height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#job-browser td.title div {
  text-align: left;
  float:left;
  width: 230px;
  height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#job-browser td.delete {
  font-weight: bold;
}

#job-browser td.delete:hover {
  background-color: #8E312B;
  color: white;
}

#job-browser.visible {
  margin-top: 0px;
}

.tab-grip {
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #fff;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAX/GZH4/4FsRpgAmAOSBBFwDkgAAIKuBATRTAAZAAAAAElFTkSuQmCC);
  height: 20px;
}

#past-jobs-title {
  font-weight: bold;
  width: 200px;
  height: 20px;
  line-height: 20px;
  padding: 0px 10px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255,255,255,0.9);
  background-color: rgba(242, 192, 99, 0.9);
  color: black;
  font-size: 12px;
}

#job-list-pagination {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 25px;
}

.prev-cont, .next-cont {
  display: inline-block;
  width: 43px;
}

#job-list-pagination .next, #job-list-pagination .prev {
  cursor: pointer;
}

.page-num {
  font-weight: bold;
  padding: 0 3px;
}

.modal {
  opacity: 1;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAXklEQVQYV5WQ0QkAMQhDdT6HapdyvrtGyBGsP1cogn2JsW5mz7l1MnOjRkRV7TlAAgppD/0R7NA/8KgX83D0FMUBavhpKQgroz7SnWK6X8soqBFqdHeZ/vUD+6gufgGQzlBaXlQvpwAAAABJRU5ErkJggg==);
  background: rgba(140,140,140,0.5);
}

.modal-inner {
  cursor: auto;
  position: fixed;
  width: 400px;
  background: #f8f8f8;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -130px;
  padding-bottom: 15px;
}

.modal-title {
  background: #777;
  border-bottom: 2px solid #8E312B;
  color: #fff;
  text-align: center;
  padding:7px;
  margin-bottom:20px;
  font-weight: bold;
  font-size:20px;
}

.modal-body {
   text-align: left; 
   padding:0px 20px;
}

.modal-body strong {
  color: blue;
}

.modal-close {
  position: absolute;
  top: 0px;
  right: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 0.1em 0.1em #000;
}

.modal-close:hover {
  color: #000;
}

.mintip {
  background-color: white;
  border: 1px solid #b8b8b8;
  padding: 4px;
}